{namespace yag=Tx_Yag_ViewHelpers}

<yag:Javascript.template templatePath="EXT:yag_theme_photoblog/Resources/Private/JsTemplates/FancyBox.js" arguments="{yagSettings: '{yag:Javascript.JsonSettings(tsPath:\'fancybox\', onlyKeyValuePairs:1)}'}"/>

<div class="tx-yag-theme-photoblog-imagecontainer">
    <f:for each="{listData}" key="rowIndex" as="listRow">     
 		<div class="tx-yag-thumb-outerframe tx-yag-album-thumb-outerframe" style="width:160px; height: 160px">  
	        <f:render partial="{config.itemListConfig.imageThumbPartial}" 
	          arguments="{config: config, image: listRow.image.value, 
	            rowIndex: listRow.specialValues.absoluteRowIndex, 
	            pager: pager, pagerCollection:pagerCollection}" />
	    </div>
    </f:for>    
</div>
