{namespace yag=Tx_Yag_ViewHelpers}
<h1>{album.name}</h1>

<div class="tx-yag-theme-photoblog-imagecontainer">
    <f:for each="{listData}" key="rowIndex" as="listRow">     
 		<div class="tx-yag-thumb-outerframe tx-yag-album-thumb-outerframe" style="width:160px; height: 160px">  
	        <f:render partial="{config.itemListConfig.imageThumbPartial}" 
	          arguments="{config: config, image: listRow.image.value, 
	            rowIndex: listRow.specialValues.absoluteRowIndex, 
	            pager: pager, pagerCollection:pagerCollection}" />
	    </div>
    </f:for>    
</div>

<a class="tx-yag-theme-photoblog-backlink" href="fotos/">Zurück zur Alben-Übersicht</a>