{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album thumb

Here is a list of objects / variables that can be accessed in this template:

Tx_Yag_Domain_Model_Album album               The album object

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>


<div class="tx-yag-photoblog-thumb-innerframe tx-yag-album-thumb-innerframe tx-yag-photoblog-album-thumb">
	<yag:link.album album="{album}">
		<f:if condition="{album.itemCount} > 0">
		    <f:then>
		        <yag:image title="{album.name}" item="{album.thumb}" resolutionName="thumb" />
				<div class="tx-yag-theme-photoblog-album-thumb-overlay">
					<div class="tx-yag-theme-photoblog-album-thumb-overlay-heading">{album.name}</div>
					<div style="color: gray; font-size: 0.8em">{album.date->f:format.date(format:'d.m.Y')}</div>
					<div style="color: gray; font-size: 0.8em;"><span>{album.itemCount} Bilder</div>
				</div>
		    </f:then>
		    <f:else>
		        <div><f:translate key="tx_yag_controller_album.noItems" /></div>
		    </f:else>
	    </f:if>
	</yag:link.album>
</div>