@CHARSET "UTF-8";

.tx-yag-theme-photoblog-imagecontainer {
	padding-top: 15px;
	padding-left: 15px;	
}

.tx-yag-theme-photoblog-backlink {
	padding-top: 15px;
	padding-left: 15px;	
}	

div.tx-yag-theme-photoblog-imagecontainer:after {
    content: "."; 
    display: block; 
    height: 0;
    clear: both; 
    visibility: hidden;
}

div.tx-yag-theme-photoblog-thumb {
    /*-moz-border-radius: 3px 3px 3px 3px; */
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    margin: 1px;
    padding: 7px;
    width: 160px;
    height: 160px;
}

/* Use this for description beneath image */
div.tx-yag-theme-photoblog-albumthumb {
    /*-moz-border-radius: 3px 3px 3px 3px; */
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    margin: 1px;
    padding: 7px;
}

div.tx-yag-photoblog-album-thumb {
    position: relative;
}

div.tx-yag-theme-photoblog-album-thumb-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    height: 142px;
    left: 0;
    margin: 9px;
    position: absolute;
    top: 0;
    width: 142px;
}

div.tx-yag-photoblog-album-thumb:hover div.tx-yag-theme-photoblog-album-thumb-overlay {
    display: block;
}

div.tx-yag-theme-photoblog-thumb img {
    border: 1px solid;
    border-color: #444 #AAA #AAA #444;
}

/* yag containers */
.tx-yag-items {
	padding-left: 15px;
	padding-top: 15px;
}

div.tx-yag-album-thumb-innerframe a:hover,
div.tx-yag-album-thumb-innerframe a:focus {
	display: block;
	outline: none;
}
